.container {
  overflow: hidden;
  padding-bottom: 20px;
  display: block;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.filterDiv {
  float: left;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background-color: transparent;
  width: 200px;
  margin: 20px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
  color: #fff;
}

/* Style the buttons */
.btn {
  color: white;
  font-family: 'Lato', sans-serif;
  border: #666;
  background-color: #000000;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
